{% extends "base.html" %}
{% load static wagtailimages_tags wagtailcore_tags%}

{% block body_class %}template-genericpage{% endblock %}

{% block extra_css %}

{% endblock extra_css %}

{% block content %}
<div class="container-fluid">
     {% image page.banner_image fill-1400x300 as img %}
 <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <img src="{{img.url}}" class="img-fluid" alt="{{img.alt}}">
      <h3>{{ page.banner_title }}</h3>
      <p>
      <h3>{{ page.introduction }}</h3>
      </p>
      {% image page.author.image fill-100x100  %}
      <p>
      <h3>{{ page.author.name }}</h3>
      </p>
  </div>
 </div>
</div>
<hr>
{% include_block page.body %}
{% endblock content %}
